* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor__inicio {
    background: url(../img/fondo01bri.jpg);
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 15%;
}

.contenedor__inicio__titulo {
    font-size: 75px;
    font-family: 'Indie Flower';
    color: #ffffff
}

.header {
    color: #fff;
    padding: 2rem 2rem;
}

.header a {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.cabezera__logo {
    width: 160px;
    height: auto;
}

.logo__nav__cabezera {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabezera__nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cabezera__nav ul li {
    display: inline-block;
}


.cabezera__nav ul li a {
    display: block;
    padding: 0.5rem 1rem
}

.cabezera__nav ul li a:hover {
    background: #cfcdcd;
}

.footer {
    background: #f2f2f2;
    padding: 4rem 0;
    text-align: center;
}

.contenedor__sobremi {
    width: 100%;
    height: auto;
}

.contenedor__sobremi__titulo {
    font-size: 45px;
    padding: 30px 30px;
    font-family: 'Indie Flower';
    text-align: center;
    color: black;
}
/* TRANSFORMACION Y TRANSICION */

.frutas:hover {
    transform: scale(1.15);
    transition: all 1s;
}
/* TRANSFORMACION Y TRANSICION */

/* ANIMACION */

#txt__sobremi h4 {
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 12px;
    animation-name: efecto;
    animation-iteration-count: 2;
    animation-timing-function: ease-in;
    animation-duration: 7s;
}

@keyframes efecto {
    0% {
        width: 20px;
    }

    10% {

    }

    100% {
        color: white;
        width: 200px;
        background-color: rgb(51, 51, 168);
    }
}
/* ANIMACION */

.img__01 {
    width: 120px;
    height: 120px;
}

.txt__01 {
    height: auto;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#txt__sobremi {
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-areas:
        "lechuga palta tomate zanahoria";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    padding: 100px;
    gap: 25px;
}

#lechuga {
    grid-area: lechuga;
}

#palta {
    grid-area: palta;
}

#tomate {
    grid-area: tomate;
}

#zanahoria {
    grid-area: zanahoria;
}

.contenedor__motores {

    text-align: center;
    font-size: 45px;
    font-family: 'Indie Flower';
    background: url(../img/fondo03bri.jpg);
    background-size: cover;
}

.contenedor__motores__titulo {
    color: white;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.contenedor__motores__txt {
    width: 85%;
    max-width: 850px;
    height: 640px;
    margin: 0 auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: center;
}

.contenedor__productos__titulo {
    font-size: 50px;
    font-family: 'Indie Flower';
    text-align: center;
    color: black;
    padding: 30px 30px;
}

.img__productos {
    width: 500px;
    height: 500px;
}

#productos {
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-areas:
        "humus frutos"
        "galletas hamburguesa";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (2, 1fr);
    justify-content: center;
    padding: 100px;
    gap: 25px;
}

#humus {
    grid-area: humus;
}

#frutos {
    grid-area: frutos;
}

#galletas {
    grid-area: galletas;
}

#hamburguesa {
    grid-area: hamburguesa;
}

.contenedor__musicayletras {
    width: 100%;
    margin: 100px auto;
    text-align: center;
    font-size: 35px;
    font-family: 'Indie Flower';
}

h3 {

    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 30px 30px;
}

/* TRANSFORMACION Y TRANSICION */

.rotacion:hover {
    transition: all 1s;
    transform: rotate(15deg);
}
/* TRANSFORMACION Y TRANSICION */
